meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Fase 1 Metodología OVOP
meta(meta name="description" content="Este componente formativo corresponde a la Fase 1 de la Metodología OVOP y abarca dos guías metodológicas: la No 1, Guía para el descubrimiento de tesoros locales y la No 2, Guía para la construcción del sueño colectivo OVOP. Estas guías se constituyen en el punto de partida de la ruta metodológica de la estrategia de desarrollo local OVOP – Colombia, y tiene por objetivo, en primer lugar, identificar aquellos recursos de un territorio (tesoros) que pueden estimular el desarrollo al interior de la comunidad y, en segundo lugar, construir un sueño colectivo o la visión a partir del aprovechamiento de los recursos identificados.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")