h2 Desarrollo de <br>contenidos
.brand-line-primary

.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".2s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccion1/')
                    +navTemaItem('1', 'Guía de para el descubrimiento de tesoros locales', 'main.html#page/descubrimiento/')
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccion2/')
                    +navTemaItem('2', 'Guía para la construcción del sueño colectivo OVOP', 'main.html#page/construccion/')
                    +navTemaItem('question', 'Actividad didáctica', 'main.html#page/actividad-1/')