.container#descubrimiento

    .header-ecored

        h1 1. Guía de para el descubrimiento de tesoros locales

#objetivos1

.container

    .header-ecored.subtitulo-guion

            h2 Objetivos de la guía

.container

    .row.mx-0.recuadro1

        .col-12

            h3.texto1 General

            p Brindar a los interesados insumos conceptuales y metodológicos para identificar recursos potenciales en territorio bajo el enfoque OVOP. 

        .col-12

            h3.texto1 Específicos

            ul
                li.mb-3 Concientizar a la comunidad sobre la importancia de sus tesoros locales para la revitalización de sus territorios. 
                li Crear un espacio de interacción y entendimiento de la comunidad en un ambiente de confianza para trabajo conjunto.

br#conceptos1

.container

    .header-ecored.subtitulo-guion

        h2 Conceptos

.container

    .row.mx-0
        
        .card

            img.img-fluid(src="assets/images/pages/img1.png", style="max-width: 100%")

            .card-body.recuadro2

                .card-text

                    .row.mx-0.align-items-center
                    
                        .col-auto.text-center.recuadro3

                            p 1.1
                        
                        .col-10

                            p.texto2 Tesoros

                    .row.mx-0.mt-3

                        .col-12.px-0

                            p Los tesoros son bienes tangibles o intangibles, recursos naturales o culturales, productos o servicios; pueden ser considerados tesoros igualmente danzas, artes, leyendas, patrimonios arqueológicos, actividades tradicionales, personajes de la comunidad o conocimientos ancestrales como leyendas locales, que existen el en territorio o que merecen ser recuperados por su inmenso valor social y cultural.

        br

        .card

            img.img-fluid(src="assets/images/pages/img2.png", style="max-width: 100%")

            .card-body.recuadro2

                .card-text

                    .row.mx-0.align-items-center
                    
                        .col-auto.text-center.recuadro3

                            p 1.2
                        
                        .col-10

                            p.texto2 Recursos naturales

                    .row.mx-0.mt-3

                        .col-12.px-0

                            p Se refiere a elementos de naturaleza existentes en áreas geográficas, los cuales, por su belleza o particularidad, tienen gran potencial de convertirse en un atractivo turístico.

        br

        .card

            img.img-fluid(src="assets/images/pages/img3.png", style="max-width: 100%")

            .card-body.recuadro2

                .card-text

                    .row.mx-0.align-items-center
                    
                        .col-auto.text-center.recuadro3

                            p 1.3
                        
                        .col-10

                            p.texto2 Recursos productivos

                    .row.mx-0.mt-3

                        .col-12.px-0

                            p Se refiere a la vocación productiva del territorio, la cual está relacionada con la producción agrícola y sus sistemas de encadenamiento productivo.
        
        br

        .card

            img.img-fluid(src="assets/images/pages/img4.png", style="max-width: 100%")

            .card-body.recuadro2

                .card-text

                    .row.mx-0.align-items-center
                    
                        .col-auto.text-center.recuadro3

                            p 1.4
                        
                        .col-10

                            p.texto2 Recursos culturales

                    .row.mx-0.mt-3

                        .col-12.px-0

                            p Se define como el conjunto de bienes y manifestaciones culturales materiales e inmateriales, que se encuentra en permanente construcción sobre el territorio transformado por las comunidades. Dichos bienes y manifestaciones se constituyen en valores que conforman sentidos y lazos de permanencia, identidad y memoria para una comunidad.
                    
                    .row.mx-0.mt-4

                        .col-12.px-0

                            p.texto3
                                b Tipos de recursos culturales:
                        
                        .col-12.px-0.mt-5

                            .row

                                .col-2

                                    img.img-fluid(src="assets/images/pages/img1.svg", style="max-width: 100%")

                                .col-10

                                    p.texto4
                                        b Patrimonio Material
                                    
                                    p Se caracteriza por tener un cuerpo físico que puede ser dimensionado y percibido sensorialmente; así como: la arquitectura.
                        
                        .col-12.px-0.mt-5

                            .row

                                .col-2

                                    img.img-fluid(src="assets/images/pages/img2.svg", style="max-width: 100%")

                                .col-10

                                    p.texto4
                                        b Patrimonio Inmaterial
                                    
                                    p Comprende las tradiciones y expresiones orales, prácticas sociales, rituales y actos festivos, el conocimiento y prácticas sobre la naturaleza y el universo y expresiones artísticas, entre otras, que continuamente se están recreando en la sociedad y reproduciendo generacionalmente.
                        
                        .col-12.px-0.mt-5

                            .row

                                .col-2

                                    img.img-fluid(src="assets/images/pages/img3.svg", style="max-width: 100%")

                                .col-10

                                    p.texto4
                                        b Festividades
                                    
                                    p son eventos de tipo artístico mediante los cuales las comunidades expresan sentimientos o tradiciones de su territorio o de su cultura.
                        
                        .col-12.px-0.mt-5

                            .row

                                .col-2

                                    img.img-fluid(src="assets/images/pages/img4.svg", style="max-width: 100%")

                                .col-10

                                    p.texto4
                                        b Grupos de especial interés
                                    
                                    p Constituidos por comunidades indígenas, comunidades negras y raizales, en las cuales se valora el respeto por sus costumbres como una forma de conservación auténtica de su legado cultural.

        br

        .card

            .card-body.recuadro2

                .card-text

                    .row.mx-0.align-items-center
                    
                        .col-auto.text-center.recuadro3

                            p 1.5
                        
                        .col-10

                            p.texto2 Variables de análisis de recurso

                    .row.mx-0.my-3

                        .col-12.px-0

                            p Dentro del enfoque OVOP, es importante analizar la potencialidad de dichos recursos, dado que estos deben ser potenciadores del desarrollo local en términos de competitividad, pero también inclusión social. Para lo anterior, se recomienda que dichos recursos sean analizados, de acuerdo con las siguientes variables.

                    .row

                        .col-6.mt-7
                            .card.fondo1
                                .card-body.text-center

                                    .avatar.avatar-super.card-avatar.card-avatar-top
                                        img(src="assets/images/pages/img5.svg").avatar-img

                                    p.text-left
                                        b Uso: 
                                        | tiene diferentes usos o su utilidad es muy amplia; es decir, se puede aprovechar muy bien.
                        
                        .col-6.mt-7
                            .card.fondo1
                                .card-body.text-center

                                    .avatar.avatar-super.card-avatar.card-avatar-top
                                        img(src="assets/images/pages/img6.svg").avatar-img

                                    p.text-left
                                        b Unicidad: 
                                        | es un recurso o producto que puede ser único en la región, en el país o en el mundo.

                        .col-6.mt-7
                            .card.fondo1
                                .card-body.text-center

                                    .avatar.avatar-super.card-avatar.card-avatar-top
                                        img(src="assets/images/pages/img8.svg").avatar-img

                                    p.text-left
                                        b Participación: 
                                        | en el aprovechamiento de este tesoro o beneficio, puede participar un número significativo de personas del territorio.
                        
                        .col-6.mt-7
                            .card.fondo1
                                .card-body.text-center

                                    .avatar.avatar-super.card-avatar.card-avatar-top
                                        img(src="assets/images/pages/img7.svg").avatar-img

                                    p.text-left
                                        b Dueño: 
                                        | el recurso o producto es comunitario y de uso público.

br#instrucciones1

.container

    .header-ecored.subtitulo-guion

        h2 Instrucciones para desarrollo del taller “Descubrimiento de tesoros locales”

.container

    .row.mx-0
        
        .card

            .card-body.recuadro2

                .card-text

                    .row.mx-0

                        .col-6

                            .row.align-items-center
                    
                                .col-auto.text-center.recuadro3

                                    p 1.6
                                
                                .col-10

                                    p.texto2 Condiciones previas

                                .col-12.mt-4

                                    p Para la realización de este taller es necesario haber cumplido con algunas tareas:

                                    br

                                    ul
                                        li.mb-3 Reconocimiento de las personas interesadas del municipio en conocer el potencial del enfoque OVOP para el desarrollo de su territorio.
                                        li.mb-3 Conformación de un grupo base.
                                        li Ficha técnica del municipio.

                        .col-6

                            .header-arrow.arrow1

                                p ¡Ha llegado la hora del taller! Este es un espacio necesario para conocer el paso a paso al momento de abordar una comunidad, con el objetivo de identificar sus tesoros locales. Además, aportará a la consolidación de la propuesta final de este proceso de formación.

                            .row

                                .col-12.text-center.mt-4

                                    img(src="assets/images/pages/img9.svg")
        
        br

        .card

            img.img-fluid(src="assets/images/pages/img5.png", style="max-width: 100%")

            .card-body.recuadro2

                .card-text

                    .row.mx-0.align-items-center
                    
                        .col-auto.text-center.recuadro3

                            p 1.7
                        
                        .col-10

                            p.texto2 Objetivo del taller

                    .row.mx-0.mt-3

                        .col-12.px-0

                            p Identificar los tesoros locales del territorio y valorar su potencial para el desarrollo local a través de procesos participativos.
        
        br

        .card

            .card-body.recuadro2

                .card-text

                    .row.mx-0.align-items-center
                    
                        .col-auto.text-center.recuadro3

                            p 1.8
                        
                        .col-10

                            p.texto2 Introducción del taller

                    .row.mx-0.mt-3

                        .col-12.px-0

                            p Se invitará a los participantes a compartir su nombre, procedencia (municipio, entidad, asociación o grupo de trabajo), cualidad y expectativas sobre el taller, con el fin de generar un espacio de confianza.

                            p Seguidamente, el facilitador explicará sobre los conceptos básicos de OVOP, haciendo especial énfasis en el aprovechamiento de los tesoros o recursos locales para el desarrollo local.
            
                img.img-fluid(src="assets/images/pages/img6.png", style="max-width: 100%").mt-4 

                .card-text

                    .row.mx-0.mt-4

                        .col-12.px-0

                            p.texto3
                                b Conceptos OVOP a desarrollar para este taller:
                        
                        .col-12.px-0.mt-5

                            .row

                                .col-2

                                    img.img-fluid(src="assets/images/pages/img10.svg", style="max-width: 100%")

                                .col-10

                                    p.texto4
                                        b Desarrollo endógeno
                                    
                                    p Es un modelo de desarrollo que busca potenciar las capacidades internas de una región o comunidad local; de modo que puedan ser utilizadas para fortalecer la sociedad y su economía de adentro hacia afuera, para que sea sustentable y sostenible en el tiempo.
                        
                        .col-12.px-0.mt-5

                            .row

                                .col-2

                                    img.img-fluid(src="assets/images/pages/img11.svg", style="max-width: 100%")

                                .col-10

                                    p.texto4
                                        b Tesoros locales
                                    
                                    p Son recursos tangibles o intangibles, naturales, productos o servicios, recursos culturales, este último incluye danzas, artes, leyendas, patrimonio arqueológico, actividades tradicionales, personajes de la comunidad o conocimientos ancestrales como leyenda local. Pueden ser considerados tesoros, los que existen el en territorio o que merecen ser recuperados por su inmenso valor social y cultural.
                        
                        .col-12.px-0.mt-5

                            .row

                                .col-2

                                    img.img-fluid(src="assets/images/pages/img12.svg", style="max-width: 100%")

                                .col-10

                                    p.texto4
                                        b Orgullo
                                    
                                    p Dentro del enfoque OVOP, el orgullo es algo muy positivo, cuando nos permite valorarnos a nosotros, a lo somos, a nuestras raíces. En este sentido y para la metodología OVOP, el orgullo es un elemento dinamizador de acciones dentro de la comunidad, de igual forma es un elemento cohesión de las comunidades, alrededor del territorio.
        
        br

        .card

            .card-body.recuadro2

                .card-text

                    .row.mx-0.align-items-center
                    
                        .col-auto.text-center.recuadro3

                            p 1.9
                        
                        .col-10

                            p.texto2 Identificación de tesoros

                    .row.mx-0.mt-3

                        .col-12.px-0

                            p Este momento del taller, los participantes listarán, ubicarán y calendarizaran los recursos culturales, productivos y naturales de su territorio; respecto a este último, hace referencia a identificar meses para el avistamiento de cada tipo de aves o la época de lluvia o verano para mayor disfrute de un atractivo, entre otros.

                            br

                            P Se invita a la comunidad a formar grupos de trabajo, compuestos entre 10 a 15 personas (depende del número de participantes):

                            br

                            ul
                                li.mb-3 Una vez formados los grupos de trabajo, cada equipo realizará una caracterización básica del territorio en términos económicos, culturales, sociales, ambientales y políticos administrativos.
                                li.mb-3 Cada grupo listará una serie de recursos locales, los cuales procederá a la clasificación de cada uno de los tesoros, en recursos naturales, culturales o productivos.
                                li.mb-3 En este momento, cada grupo discute de acuerdo con su visión y conocimiento del territorio y escribe cada tesoro en una tarjeta que se debe pegar en un pliego de papel bond en blanco para listar todas las ideas del grupo.
                                li.mb-3 El facilitador debe guiar esta actividad, motivando a los participantes para que propongan sus propias ideas y las escriban en las tarjetas. Simultáneamente, los tesoros deben ser ubicados en un calendario y un mapa del territorio en blanco, los cuales deben estar impresos en tamaño pliego.
                                li.mb-3 Para ubicar los tesoros en el calendario se deben tener en cuenta las fechas o épocas de ocurrencia de hechos históricos, festivales, eventos, ferias, conmemoraciones, aniversarios y otros hechos que ocurran en un periodo específico del año, como fenómenos del clima, épocas de cosecha, florecimiento o migración de fauna, entre otros.
                                li.mb-3 Por su parte, al ubicar los tesoros en el mapa, se debe establecer los lugares donde más se encontraría este tesoro. Para facilitar este ejercicio, se puede asignar un número o un símbolo a los tesoros y ponerlo en la ubicación del mapa.
                                li Para finalizar esta parte, cada grupo presenta el resultado de su trabajo explicando su listado de tesoros y el valor que tienen para su territorio, así mismo exponen el calendario y el mapa para mostrar la ubicación espacial y temporal de los recursos identificados.
                        
                    .row.recuadro4

                        .col-12.col-md-6.py-3

                            section
                                a(href="https://login.bdigital.sena.edu.co/login?url=https://ebookcentral.proquest.com/lib/senavirtualsp/reader.action?docID=3227909&ppg=9" target="_blank").media-link
                                    img(src="assets/images/pages/icon_www.svg", alt="").media-link-icon
                                    .media-link-title
                                        p
                                            b Anexo 1.
                                        p Listado de recursos
                        
                        .col-12.col-md-6.py-3

                            section
                                a(href="https://login.bdigital.sena.edu.co/login?url=https://ebookcentral.proquest.com/lib/senavirtualsp/reader.action?docID=3227909&ppg=9" target="_blank").media-link
                                    img(src="assets/images/pages/icon_www.svg", alt="").media-link-icon
                                    .media-link-title
                                        p
                                            b Anexo 2.
                                        p Calendario de eventos y actividades
        
        br

        .card

            .card-body.recuadro2

                .card-text

                    .row.mx-0.align-items-center
                    
                        .col-auto.text-center.recuadro3

                            p 1.10
                        
                        .col-10

                            p.texto2 Imagen del territorio

                    .row.mx-0.mt-3

                        .col-12

                            p Dentro del enfoque OVOP, es importante analizar la potencialidad de dichos recursos, dado que estos deben ser potenciadores del desarrollo local en términos de competitividad, pero también inclusión social. Para lo anterior, se recomienda que dichos recursos sean analizados, de acuerdo con las siguientes variables.

                            br

                            ul
                                li En los grupos ya conformados deben discutir sobre las características que hacen único a su territorio, proceso el cual debe realizarse en relación con los tesoros encontrados en el territorio.
                                
                                br

                                p Para lo anterior, se proponen las siguientes preguntas guía:
                        
                        .col-12
                        
                            .row.recuadro4.align-items-center.mb-4

                                .col-1

                                    img.img-fluid(src="assets/images/pages/img7.png", style="max-width: 80%")

                                .col-11

                                    p Del listado de tesoros encontrados, ¿cuáles son los que contribuyen a que su territorio sea único?
                                
                                .col-1.mt-3

                                    img.img-fluid(src="assets/images/pages/img8.png", style="max-width: 80%")

                                .col-11.mt-3

                                    p Cuál de estos tesoros resaltan más la identidad y el orgullo de sus habitantes?
                                
                                .col-1.mt-3

                                    img.img-fluid(src="assets/images/pages/img9.png", style="max-width: 80%")

                                .col-11.mt-3

                                    p ¿Cuál de estos tesoros tiene mayor potencial de uso?
                                
                                .col-1.mt-3

                                    img.img-fluid(src="assets/images/pages/img10.png", style="max-width: 80%")

                                .col-11.mt-3

                                    p ¿Este tesoro es único a nivel territorial, regional o mundial?
                                
                                .col-1.mt-3

                                    img.img-fluid(src="assets/images/pages/img11.png", style="max-width: 80%")

                                .col-11.mt-3

                                    p ¿Cuál es la característica que hace que este tesoro sea único?
                                
                                .col-1.mt-3

                                    img.img-fluid(src="assets/images/pages/img12.png", style="max-width: 80%")

                                .col-11.mt-3

                                    p ¿El dueño del tesoro es la comunidad, alguna entidad o un privado?
                                
                                .col-1.mt-3

                                    img.img-fluid(src="assets/images/pages/img13.png", style="max-width: 80%")

                                .col-11.mt-3

                                    p ¿En el aprovechamiento de este tesoro o su beneficio, puede participar un número significativo de personas del territorio? Es decir, ¿pueden incluir a gran parte de la población?
                                
                                .col-1.mt-3

                                    img.img-fluid(src="assets/images/pages/img14.png", style="max-width: 100%")

                                .col-11.mt-3

                                    p ¿Este tesoro permite generar procesos de inclusión social? (Población indígena, afrodescendiente, mujeres, jóvenes, desplazados)

                        .col-12

                            ul

                                li Una vez realizada esta reflexión, los participantes deben escribir frases con las que podrían identificar a su territorio; pueden ser frases nuevas que expresen su orgullo, frases conocidas o un eslogan que ya se use con el nombre del municipio.

                                br

                                p Cada frase debe escribirse en una tarjeta y pegarse en un pliego de papel bond en blanco.
                        
                        .col-12

                            p.texto3
                                b Resultados:

                        .row

                            .col-6.mt-7
                                .card.fondo1
                                    .card-body.text-center

                                        .avatar.avatar-super.card-avatar.card-avatar-top
                                            img(src="assets/images/pages/img13.svg").avatar-img

                                        p.text-left Listado de tesoros locales del municipio.
                            
                            .col-6.mt-7
                                .card.fondo1
                                    .card-body.text-center

                                        .avatar.avatar-super.card-avatar.card-avatar-top
                                            img(src="assets/images/pages/img14.svg").avatar-img

                                        p.text-left Mapa de ubicación de los tesoros locales.
                            
                            .col-6.mt-7
                                .card.fondo1
                                    .card-body.text-center

                                        .avatar.avatar-super.card-avatar.card-avatar-top
                                            img(src="assets/images/pages/img15.svg").avatar-img

                                        p.text-left Calendario de ocurrencia de hechos o actividades identificadas como tesoros.
                            
                            .col-6.mt-7
                                .card.fondo1
                                    .card-body.text-center

                                        .avatar.avatar-super.card-avatar.card-avatar-top
                                            img(src="assets/images/pages/img16.svg").avatar-img

                                        p.text-left Internamente cada grupo discute, expone y elige la frase que más identifica su territorio.
                        
                        .col-12

                            ul

                                li.mb-3 Para seleccionar los tesoros con mayor potencialidad, el facilitador de cada grupo entrega tres rótulos (pegatinas circulares de colores) para que cada persona los ponga en los tres tesoros que considera tienen mayor potencial según su propio criterio. Al hacer su elección, los participantes pueden explicar su punto de vista sobre los tesoros que han seleccionado, para que los demás miembros del grupo puedan entender también su importancia.
                                li Al finalizar este ejercicio, se cuentan los votos y se seleccionan los tres tesoros que mayor cantidad consiguieron, aclarando las razones dadas por los votantes. Se listan también los tesoros que hayan tenido al menos un voto para evaluar posteriormente. Los participantes de cada grupo deben elaborar una exposición con el eslogan seleccionado y los tres tesoros con mayor potencial, para explicar a los otros participantes por qué consideran que estos representan su territorio. Cada grupo debe haber elegido previamente un relator/vocero que realice tal explicación.
                        
                        .row.justify-content-center

                            .col-6

                                .header-arrow.arrow1.mb-4

                                    p Listado con 3 tesoros y frases que identifiquen el municipio.
                            
                            .col-12.text-center

                                img.img-fluid(src="assets/images/pages/img17.svg", style="max-width: 80%")
        
        br

        .card

            .card-body.recuadro2

                .card-text

                    .row.mx-0

                        .col-12.col-md-6

                            .row.align-items-center
                    
                                .col-auto.text-center.recuadro3

                                    p 1.11
                                
                                .col-10

                                    p.texto2 Conclusión y cierre del taller

                                .col-12.mt-4

                                    ul
                                        li Finalice el taller retomando los principales resultados, los cuales son básicamente dos:

                                        br

                                        ol
                                            li.mb-3 Listado de tres tesoros con mayor potencialidad.
                                            li Frases que identifican su municipio.
                                        
                                        br

                                        li.mb-3 Informe a los asistentes que en los próximos días se les enviará la sistematización de los resultados del taller.
                                        li Recuerde al grupo base su compromiso para continuar en la siguiente etapa, en la cual se realizará la construcción del sueño colectivo del territorio, a partir los recursos potenciales en este taller.

                        .col-12.col-md-6

                            .header-arrow.arrow1

                                .col-12.mb-3

                                    p Para conocer en detalle y de manera completa, la 
                                        b Guía para el descubrimiento de tesoros locales
                                        | , ingrese al siguiente enlace:
                                
                                .col-12

                                    section
                                        a(href="media/documentos/MC_Guia_1_para_el_descubrimiento_de_tesoros_locales.pdf" target="_blank").media-link
                                            img(src="assets/images/pages/icon_www.svg", alt="").media-link-icon
                                            .media-link-title
                                                p
                                                    b Anexo 3.
                                                p Guía para el descubrimiento de tesoros locales

                            .row

                                .col-12.text-center.mt-4

                                    img(src="assets/images/pages/img18.svg")