.container#introduccion

    .header-ecored

        h1 Introducción

    .row.mx-0
        
        .card

            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/vtpHyKUBG2E', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            .card-body

                .card-text

                    .row.mx-0

                        .col-12

                            p El desarrollo local en Colombia es fundamental para generar un proceso de cambio y crecimiento territorial. En este sentido, OVOP es un enfoque de desarrollo local que consiste en el descubrimiento o redescubrimiento de la potencialidad del territorio, identificando aquellos elementos que, puestos en valor, reactivan la economía local, permitiendo una sostenibilidad social, cultural, económica y ambiental de las personas en su territorio.

                            br

                            p OVOP Colombia, se desarrolla bajo el concepto de “Mi Pueblo, Mi Producto, Mi Orgullo”, que comprende tres componentes importantes para el desarrollo territorial: «Mi Pueblo» hace referencia a (el/los) territorio(s) en el (los) que la comunidad, debe identificar los tesoros o recursos existentes en el territorio y los cuales se convierten en medio para alcanzar el “sueño colectivo”. «Mi Producto» se refiere al producto que caracteriza el territorio. «Mi Orgullo» está relacionado con la identidad y el orgullo que la comunidad siente por su territorio y sus respectivos productos.